body {
    margin: 0;
    background-color: #dcdcdc;
}

header {
    width: 100vw;
    height: 500px;

    margin-bottom: 1em;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 100px;
    background-color: #111;
    color: white;
}
.nav-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

/* Contenido */

.inicio{
    text-align: center;
}
.cr7_sporting{
    width: 50em;
    display: block; 
    margin: 0 auto;
}

.contenido p{
    font-size: 1.2em;
    font-weight: bold;
}
.titulos{
    text-decoration: underline;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

  .columna {
    background-color: #f9f9f9;
    padding: 1em;
    text-align: center;
    border: 1px solid #ccc;
  }

/* Columna 3 */
  .tabla-col3 {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin: 1em;
}

.tabla-col3 th {
    background-color: #191d23;
    color: rgb(219, 219, 219);
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.tabla-col3 td {
    color:#094b85;
    padding: 1em;
    font-size: 1.3em;
    background-color: #f9f9f9;
    font-weight: 600;
}

.tabla-col3 tr:hover td {
    background-color: #959798;
}

/* FOOTER */

  .footer {
    margin-top:1em;
    background-color: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer-section {
    flex: 1;
    min-width: 200px;
  }

  .footer-section h3, .footer-section h4 {
    margin-bottom: 15px;
    border-bottom: 2px solid #f7c600;
    padding-bottom: 5px;
  }

  .footer-section p, .footer-section ul, .footer-section a {
    font-size: 14px;
    color: #ddd;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 10px;
  }

  .footer-section ul li a {
    color: #ddd;
    text-decoration: none;
  }

  .footer-section ul li a:hover {
    color: #f7c600;
  }

  .social-icons a img {
    width: 24px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
  }

  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    border-top: 1px solid #444;
    padding-top: 10px;
    color: #888;
  }

